SECRET_KEY=djangosecretkey
DEBUG=True
ALLOWED_HOSTS=localhost
TRUSTED_ORIGINS=http://127.0.0.1:8000/
ADMIN_SITE=slug_to_admin_page

RECAPTCHA_PUBLIC_KEY=public_key_to_your_recaptcha
RECAPTCHA_PRIVATE_KEY=private_key_to_your_recaptcha

DATABASE_URL=postgresql://postgres:postgresql_password@localhost:5432/database_name

CLOUD_NAME=images_cloud_name
API_KEY=images_cloud_api_key
API_SECRET=images_cloud_api_secret_key

RESEND_API_KEY=resend_emails_api_key

SUPER_USER=super_user
SUPER_USER_EMAIL=super_user_email
