asgiref
bleach
certifi
charset-normalizer
cloudinary
dj-database-url
Django
django-cleanup
django-recaptcha
django-summernote
gunicorn
idna
packaging
pillow
psycopg2-binary
python-decouple
requests
setuptools
six
sqlparse
typing_extensions
tzdata
Unidecode
urllib3
webencodings
whitenoise
