{% extends 'base/_base_index.html' %}
{% load static %}
{% block title %}Antonio Calheiros Neves{% endblock %}
<!-- Body -->
{% block body_content %}
<header>
    <!-- Nav -->
    {% include 'base/_base_nav_index.html' %}
    <!-- Intro -->
    <div class="intro-home intro-image-home">
        <div class="container-intro-home">
            <h1 class="h1-intro-home">António Calheiros Neves</h1>
            <div class="anime-text-flex-container">
                <div class="anime-text-flex-item">
                    <p class="anime-text-p">
                        Web Systems Developer
                    </p>
                </div>
                <div class="anime-text-flex-item">
                    <div class="anime-text">
                        <div class="anime-text-container">
                            <ul class="anime-text-ul">
                                <li class="anime-text-item">Python</li>
                                <li class="anime-text-item">Django</li>
                                <li class="anime-text-item">Html</li>
                                <li class="anime-text-item">Css</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-me">
            <p><i class="fas fa-angle-double-up"></i> Scroll for more <i class="fas fa-angle-double-up"></i></p>
        </div>
    </div>
</header>
<!-- About me -->
<section id="s-about-me" class="container-section-big">
    <div class="container-flex-w70">
        <div class="h2-container">
            <h2 class="h2-content">About Me</h2>
        </div>
        <div class="p-container about-box-70 box-order-1">
            <p class="aligne-justify box-padd-r-15">
                Since 2019 I study and develop personal web and desktop projects with Python and Django,
                with the intention of changing my professional career and improving myself more and more
                so that I can work as a programmer, be part of a development team, contribute to more
                advanced projects and have the possibility of increasing responsibilities and participation
                to generate value for an employer or a customer.
            </p>
            <br>
            <p class="aligne-justify box-padd-r-15">
                From 2004 to the end of 2018, I worked as a Freelancer, creating management systems in Excel and performing IT services.
            </p>
        </div>
        <div class="about-box-30 media-center">
            <img class="about-img" src="{% static 'base/images/my_photo.jpg' %}" alt="My Photo">
        </div>
    </div>
    <!-- Personal Information -->
    <div class="container-flex-w70">
        <div class="about-box-70">
            <div class="h2-container">
                <h2 class="h2-content">Personal information</h2>
            </div>

            <div class="box-width-100">
                <div class="h3-container">
                    <h3 class="h3-content">Full name</h3>
                </div>
                <div class="p-container">
                    <p>António Manuel da Silva Calheiros Neves</p>
                </div>
            </div>
            <div class="box-width-50">
                <div class="h3-container">
                    <h3 class="h3-content">Email</h3>
                </div>
                <div class="p-container">
                    <a class="about_me" href="mailto: antonio@antoniocalheirosneves.com">antonio@antoniocalheirosneves.com</a>
                </div>
            </div>
            <div class="box-width-50">
                <div class="h3-container">
                    <h3 class="h3-content">Phone</h3>
                </div>
                <div class="p-container">
                    <p>+351 912951631</p>
                </div>
            </div>
            <div class="box-width-50">
                <div class="h3-container">
                    <h3 class="h3-content">Nationality</h3>
                </div>
                <div class="p-container">
                    <p>Portuguese</p>
                </div>
            </div>
            <div class="box-width-50">
                <div class="h3-container">
                    <h3 class="h3-content">Address</h3>
                </div>
                <div class="p-container">
                    <p>Oeiras, Lisbon, Portugal</p>
                </div>
            </div>
            <div class="box-width-100 box-flex">
                <div class="h3-container">
                    <h3 class="h3-content">Languages</h3>
                </div>
                <div class="box-width-50">
                    <div class="p-container">
                        <p>Portuguese - native</p>
                    </div>
                </div>
                <div class="box-width-50">
                    <div class="p-container">
                        <p>English - fluent</p>
                    </div>
                </div>
                <div class="box-width-50">
                    <div class="p-container">
                        <p>Spanish - fluent</p>
                    </div>
                </div>
                <div class="box-width-50">
                    <div class="p-container">
                        <p>French - intermediate</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Skills -->
        <div id="s-skills" class="about-box-30">
            <div class="h2-container">
                <h2 class="h2-content">Skills</h2>
            </div>
            <div class="box-width-100 box-flex">
                <div class="h3-container">
                    <h3 class="h3-content">Programming Languages</h3>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>Python</p>
                    </div>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>Sql</p>
                    </div>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>Kivy</p>
                    </div>
                </div>
                <div class="h3-container">
                    <h3 class="h3-content">Frameworks</h3>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>Django</p>
                    </div>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>Bootstrap</p>
                    </div>
                </div>
                <div class="h3-container">
                    <h3 class="h3-content">Web</h3>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>Html</p>
                    </div>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>Css</p>
                    </div>
                </div>
                <div class="h3-container">
                    <h3 class="h3-content">Databases</h3>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>PostgreSql</p>
                    </div>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>Sqlite</p>
                    </div>
                </div>
                <div class="h3-container">
                    <h3 class="h3-content">Other</h3>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>Git</p>
                    </div>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>Excel</p>
                    </div>
                </div>
                <div class="box-width-33">
                    <div class="p-container">
                        <p>Photoshop</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to Action -->
<section>
    <div id="call-action">
        <div class="call-action-container">
            <div class="call-action-box call-action-box-01">
                <a class="a-btn-25" href="{% url 'download-cv' %}" target="_blank" rel="noreferrer noopener">
                    Download CV
                </a>
            </div>
            <div class="call-action-box call-action-box-02">
                <a href="https://github.com/Antonio-Neves" target="_blank" rel="noreferrer noopener">
                    <i class="fab fa-github-square"></i>
                </a>
                <a href="https://www.linkedin.com/in/ansistemas/" target="_blank" rel="noreferrer noopener">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="icon-last" href="{% url 'blog' %}" target="_blank" rel="noreferrer noopener">
                    <i class="fas fa-blog"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Work Experience -->
<section id="s-work-experience" class="container-section-big">
    <div class="container-flex-w70">
        <div class="h2-container">
            <h2 class="h2-content">Work Experience</h2>
        </div>
        <div class="timeline-wrap">
            <div class="timeline-block">
                <div>
                    <img class="timeline-ico" src="{% static 'base/images/fyld.jfif' %}" alt="Fyld">
                </div>
                <div class="timeline-header">
                    <div class="h3-container">
                        <h3 class="h3-content">Fyld</h3>
                    </div>
                    <p>December 2021 - Present</p>
                    <div class="work-experience-icons-box">
                        <div class="timeline-ico-small">
                            <a href="https://www.fyld.pt/" target="_blank" rel="noreferrer noopener">
                                <i class="fas fa-globe"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="timeline-content">
                    <div class="h3-container">
                        <h3 class="h3-content">Software Development Consultant</h3>
                    </div>
                    <p class="aligne-justify">
                        Full time - Lisbon
                    </p>
                    <br>
                    <p class="aligne-justify">I am a consultant in the company AMA, participating in the back end team in the development of the Portal Mais Transparência.</p>
                    <p class="aligne-justify">Using Python and Apache Airflow and taking advantage of existing code, I increased the automation capabilities for collecting different entities data,
                        validation the collected data and loading into databases in the various development environments.
                        This whole process was automated, with the different steps orchestrated through Apache Airflow.</p>
                    <p class="aligne-justify">I standardized the entire EVTL process for all the different themes on the site and facilitated the entry of new theme areas.</p>
                    <p class="aligne-justify">Essentially, I am responsible for the entire EVTL process (Extraction, Validation, Transformation and Loading).</p>
                    <br>
                    <p class="aligne-justify">
                        Technologies: Python, Django, PostgreSql, Apache Airflow.
                    </p>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-ico">
                    <i class="fas fa-laptop"></i>
                </div>
                <div class="timeline-header">
                    <div class="h3-container">
                        <h3 class="h3-content">School Management System</h3>
                    </div>
                    <p>November 2020 - Present</p>
                    <div class="work-experience-icons-box">
                        <div class="timeline-ico-small">
                            <a href="https://gestao-escolar.up.railway.app/" target="_blank" rel="noreferrer noopener">
                                <i class="fas fa-globe"></i>
                            </a>
                        </div>
                        <div class="timeline-ico-small">
                            <a href="https://github.com/Antonio-Neves/Gestao-Escolar" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="timeline-content">
                    <div class="h3-container">
                        <h3 class="h3-content">Full Stack Web Systems Developer</h3>
                    </div>
                    <p class="aligne-justify">
                        Personal project
                    </p>
                    <br>
                    <p class="aligne-justify">
                        Personal project of a complete web school management system, Academic, Pedagogical and Financial sectors. (still developing)
                        <br>I have been developing this project by myself from scratch.
                        <br>Through the knowledge acquired by working in several schools, it was possible to know the requirements and specifications necessary for the system, facilitating the creation and modeling of the PostgreSQL database.
                        <br>On the back-end I use the Python language and the Django framework, on the front-end I use HTML, CSS and the Bootstrap framework which facilitates the design with grid and flex, meets the needs of javascript and also allows the system to be responsive, for use on various platforms.
                        <br>During development and after testing to ensure that all works properly, I use the Git version control system which together with Github, makes it possible for a continuous delivery of what is being developed, both for a shared hosting and for Heroku .
                    </p>
                    <br>
                    <p class="aligne-justify">
                        Technologies: Python, Django, PostgreSql, Html, Css, Bootstrap.
                    </p>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-ico">
                    <i class="fas fa-laptop"></i>
                </div>
                <div class="timeline-header">
                    <div class="h3-container">
                        <h3 class="h3-content">My Tube Library</h3>
                    </div>
                    <p>March 2020 - June 2020</p>
                    <div class="work-experience-icons-box">
                        <div class="timeline-ico-small">
                            <a href="https://mytubelibrary.up.railway.app/" target="_blank" rel="noreferrer noopener">
                                <i class="fas fa-globe"></i>
                            </a>
                        </div>
                        <div class="timeline-ico-small">
                            <a href="https://github.com/Antonio-Neves/My-Tube-Library-Django" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="timeline-content">
                    <div class="h3-container">
                        <h3 class="h3-content">Full Stack Web Systems Developer</h3>
                    </div>
                    <p class="aligne-justify">
                        Self-employed - Brazil
                    </p>
                    <br>
                    <p class="aligne-justify">
                        Personal project of a web system for organizing and categorizing YouTube channels and playlists, in order to put my learning with Django into practice.
                    </p>
                    <br>
                    <p class="aligne-justify">
                        Technologies: Python, Django, PostgreSql, Html, Css, Bootstrap.
                    </p>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-ico">
                    <i class="fas fa-laptop"></i>
                </div>
                <div class="timeline-header">
                    <div class="h3-container">
                        <h3 class="h3-content">Python Desktop Applications</h3>
                    </div>
                    <p>January 2019 - January 2020</p>
                    <div class="work-experience-icons-box">
                        <div class="timeline-ico-small">
                            <a href="https://www.youtube.com/watch?v=cd8IDX2JZug" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                        <div class="timeline-ico-small">
                            <a href="https://github.com/Antonio-Neves/Arquivo-Passivo" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="timeline-content">
                    <div class="h3-container">
                        <h3 class="h3-content">Software Developer with Python and Kivy</h3>
                    </div>
                    <p class="aligne-justify">
                        Freelancer - Brazil
                    </p>
                    <br>
                    <p class="aligne-justify">
                        Creation of several specific desktop applications for registration
                        and organizing documents to schools, shops and small offices.
                    </p>
                    <br>
                    <p class="aligne-justify">
                        Technologies: Python, Kivy, SQLite and PostgreSql.
                    </p>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-ico">
                    <i class="fas fa-laptop"></i>
                </div>
                <div class="timeline-header">
                    <div class="h3-container">
                        <h3 class="h3-content">Colégio Sementinha Feliz</h3>
                    </div>
                    <p>January 2015 - August 2020</p>
                    <br>
                </div>
                <div class="timeline-content">
                    <div class="h3-container">
                        <h3 class="h3-content">Excel Systems Developer, IT Services and Consultancy</h3>
                    </div>
                    <p class="aligne-justify">
                        Freelancer - Brazil
                    </p>
                    <br>
                    <p class="aligne-justify">
                        Computerization and digitization of the entire school management
                        and control system, Academic, Pedagogical and Financial sectors.
                        <br>
                        Technical assistance, implementation of features and
                        improvements to the management system.
                    </p>
                    <br>
                    <p class="aligne-justify">
                        Technologies: Excel, Windows, Microsoft Office.
                    </p>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-ico">
                    <i class="fas fa-laptop"></i>
                </div>
                <div class="timeline-header">
                    <div class="h3-container">
                        <h3 class="h3-content">IT Services and Consultancy</h3>
                    </div>
                    <p>January 2004 - December 2019</p>
                    <br>
                </div>
                <div class="timeline-content">
                    <div class="h3-container">
                        <h3 class="h3-content">Excel Systems Developer, IT Services and Consultancy</h3>
                    </div>
                    <p class="aligne-justify">
                        Freelancer - Portugal, Spain and Brazil
                    </p>
                    <br>
                    <p class="aligne-justify">
                        Development of management systems and Excel spreadsheets.
                        <br>
                        Provision of various services as Freelance Computer Technician,
                        Technical assistance and consultancy.
                    </p>
                    <br>
                    <p class="aligne-justify">
                        Technologies: Excel, Windows, Linux, Microsoft Office.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to Action -->
<section>
    <div id="call-action">
        <div class="call-action-container">
            <div class="call-action-box call-action-box-01">
                <a class="a-btn-25" href="{% url 'download-cv' %}" target="_blank" rel="noreferrer noopener">
                    Download CV
                </a>
            </div>
            <div class="call-action-box call-action-box-02">
                <i class="fas fa-envelope-square"></i>
                &nbsp
                <a href = "mailto: antonio@antoniocalheirosneves.com">antonio@antoniocalheirosneves.com</a>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio -->
<section id="s-portfolio" class="container-section-big  no-background">
    <div class="container-flex-w70">
        <div class="h2-container">
            <h2 class="h2-content">Portfolio</h2>
        </div>
        <!-- School Management System -->
        <div class="box-flex portfolio-first-child">
            <div class="h3-container">
                <h3 class="h3-content">School Management System</h3>
            </div>
            <div class="box-flex box-width-100">
                <div class="box-width-60">
                    <a href="https://gestao-escolar.up.railway.app/" target="_blank" rel="noreferrer noopener">
                        <img class="portfolio-img"
                             src="https://res.cloudinary.com/myportfolioan/image/upload/v1629833230/site_photos/GestaoEscolar-768x379_aowihf.png?auto=format&fit=crop"
                             alt="School Management System">
                    </a>
                </div>
                <div class="box-width-40">
                    <p>
                        Complete Web System for school management.
                        (under development)
                    </p>
                    <br>
                    <p>
                        Python, Django, Html, Css, Postgresql and Bootstrap4
                    </p>
                    <div class="portfolio-icons-box">
                        <div class="timeline-ico-small">
                            <a href="https://github.com/Antonio-Neves/Gestao-Escolar" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </div>
                        <div class="timeline-ico-small">
                            <a href="https://gestao-escolar.up.railway.app/" target="_blank" rel="noreferrer noopener">
                                <i class="fas fa-globe"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Portfolio -->
        <div class="box-flex">
            <div class="h3-container">
                <h3 class="h3-content">My CV, Portfolio and Blog</h3>
            </div>
            <div class="box-flex box-width-100">
                <div class="box-width-60">
                    <a href="{% url 'blog' %}" target="_blank" rel="noreferrer noopener">
                        <img class="portfolio-img"
                             src="https://res.cloudinary.com/myportfolioan/image/upload/v1634884191/site_photos/image_blog_principal_aafiyw.jpg?auto=format&fit=crop"
                             alt="My Blog">
                    </a>
                </div>
                <div class="box-width-40">
                    <p>
                        My Cv, Portfolio and Blog.
                    </p>
                    <br>
                    <p>
                        Python, Django, Html, Css and Postgresql
                    </p>
                    <div class="portfolio-icons-box">
                        <div class="timeline-ico-small">
                            <a href="https://github.com/Antonio-Neves/My-Portfolio" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </div>
                        <div class="timeline-ico-small">
                            <a href="{% url 'blog' %}" target="_blank" rel="noreferrer noopener">
                                <i class="fas fa-blog"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Tube Library -->
        <div class="box-flex">
            <div class="h3-container">
                <h3 class="h3-content">My Tube Library</h3>
            </div>
            <div class="box-flex box-width-100">
                <div class="box-width-60">
                    <a href="https://mytubelibrary.up.railway.app/" target="_blank" rel="noreferrer noopener">
                        <img class="portfolio-img"
                             src="https://res.cloudinary.com/myportfolioan/image/upload/v1629833230/site_photos/my-tube-library_cy5nyu.jpg?auto=format&fit=crop"
                             alt="My Tube Library">
                    </a>
                </div>
                <div class="box-width-40">
                    <p>
                        Web System for organization and categorization for YouTube channels and playlists.
                    </p>
                    <br>
                    <p>
                        Python, Django, Html, Css, Postgresql and Bootstrap4
                    </p>
                    <div class="portfolio-icons-box">
                        <div class="timeline-ico-small">
                            <a href="https://github.com/Antonio-Neves/My-Tube-Library-Django" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </div>
                        <div class="timeline-ico-small">
                            <a href="https://mytubelibrary.up.railway.app/" target="_blank" rel="noreferrer noopener">
                                <i class="fas fa-globe"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Custom User -->
        <div class="box-flex">
            <div class="h3-container">
                <h3 class="h3-content">Django Custom User</h3>
            </div>
            <div class="box-flex box-width-100">
                <div class="box-width-60">
                    <a href="https://mytubelibrary.up.railway.app/usuarios/novo-usuario/" target="_blank" rel="noreferrer noopener">
                        <img class="portfolio-img"
                             src="https://res.cloudinary.com/myportfolioan/image/upload/v1629833230/site_photos/custom-user-django-768x403_rod8wj.jpg?auto=format&fit=crop"
                             alt="Django Custom User">
                    </a>
                </div>
                <div class="box-width-40">
                    <p>
                        Custom authentication and user account control template for Django.
                    </p>
                    <br>
                    <p>
                        Python, Django, Html, Css and Postgresql
                    </p>
                    <div class="portfolio-icons-box">
                        <div class="timeline-ico-small">
                            <a href="https://github.com/Antonio-Neves/Custom-User-Django-en" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </div>
                        <div class="timeline-ico-small">
                            <a href="https://mytubelibrary.up.railway.app/usuarios/novo-usuario/" target="_blank" rel="noreferrer noopener">
                                <i class="fas fa-globe"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- School Passive File -->
        <div class="box-flex">
            <div class="h3-container">
                <h3 class="h3-content">School Passive File - Desktop Application</h3>
            </div>
            <div class="box-flex box-width-100">
                <div class="box-width-60">
                    <a href="https://www.youtube.com/watch?v=cd8IDX2JZug" target="_blank" rel="noreferrer noopener">
                        <img class="portfolio-img portfolio-img-no-shadow"
                             src="https://res.cloudinary.com/myportfolioan/image/upload/v1629833230/site_photos/programacao-python-kivy_jt29vc.jpg?auto=format&fit=crop"
                             alt="School Passive File">
                    </a>
                </div>
                <div class="box-width-40">
                    <p>
                        Registration and file system.
                    </p>
                    <br>
                    <p>
                        Python, Kivy and SQLite
                    </p>
                    <div class="portfolio-icons-box">
                        <div class="timeline-ico-small">
                            <a href="https://github.com/Antonio-Neves/Arquivo-Passivo" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </div>
                        <div class="timeline-ico-small">
                            <a href="https://www.youtube.com/watch?v=cd8IDX2JZug" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CD, DVD and Book Library -->
        <div class="box-flex">
            <div class="h3-container">
                <h3 class="h3-content">Library - Desktop Application</h3>
            </div>
            <div class="box-flex box-width-100">
                <div class="box-width-60">
                        <img class="portfolio-img portfolio-img-no-shadow"
                             src="https://res.cloudinary.com/myportfolioan/image/upload/v1629833230/site_photos/an-sistemas-python-kivy_victwc.jpg?auto=format&fit=crop"
                             alt="CD, DVD and Book Library">
                </div>
                <div class="box-width-40">
                    <p>
                        CD, DVD and Book Library.
                    </p>
                    <br>
                    <p>
                        Python, Kivy and SQLite
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
