{% extends 'base/_base_index.html' %}
{% load static %}
{% block title %}Antonio Neves{% endblock %}
<!-- Body -->
{% block body_content %}
<header>
    <!-- Nav -->
    {% include 'base/_base_nav_index.html' %}
    <!-- Intro -->
    <div class="intro-home">
        <div class="container-intro-home">
            <h1 class="h1-intro-home">António Calheiros Neves</h1>
            <div class="anime-text-flex-container">
                <div class="anime-text-flex-item">
                    <p class="anime-text-p">
                        Web Systems Developer
                    </p>
                </div>
                <div class="anime-text-flex-item">
                    <div class="anime-text">
                        <div class="anime-text-container">
                            <ul class="anime-text-ul">
                                <li class="anime-text-item">Python</li>
                                <li class="anime-text-item">Django</li>
                                <li class="anime-text-item">Html</li>
                                <li class="anime-text-item">Css</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About me -->
<section id="s-about-me">
    <div class="about-me-container">
        <div class="h2-container">
            <h2 class="h2-content">About Me</h2>
        </div>
        <div class="p-container p-box-about">
            <p>
                Since 2019 I study and develop personal web and desktop projects with Python and Django, with the intention of changing my professional career and improving myself more and more so that I can work as a programmer, be part of a development team, contribute to more advanced projects and have the possibility of increasing responsibilities and participation to generate value for an employer or a customer.
            </p>
            <p>
                Since 2004 to the end of 2018, I worked as a Freelancer, creating management systems in Excel and performing IT services.
            </p>
        </div>
        <img class="p-box-img" src="{% static 'base/images/my_photo.jpg' %}" alt="My Photo">

    </div>
</section>

<section id="s-skills">
    <div class="about-me-container">
        <div class="h2-container">
            <h2 class="h2-content">Skills</h2>
        </div>
        <div class="p-container box">
            <p>
                Since 2019 I study and develop personal web and desktop projects with Python and Django, with the intention of changing my professional career and improving myself more and more so that I can work as a programmer, be part of a development team, contribute to more advanced projects and have the possibility of increasing responsibilities and participation to generate value for an employer or a customer.
            </p>
            <p>
                Since 2004 to the end of 2018, I worked as a Freelancer, creating management systems in Excel and performing IT services.
            </p>
        </div>
        <div class="p-container box">
            <p>
                Since 2019 I study and develop personal web and desktop projects with Python and Django, with the intention of changing my professional career and improving myself more and more so that I can work as a programmer, be part of a development team, contribute to more advanced projects and have the possibility of increasing responsibilities and participation to generate value for an employer or a customer.
            </p>
            <p>
                Since 2004 to the end of 2018, I worked as a Freelancer, creating management systems in Excel and performing IT services.
            </p>
            <p>
                Since 2019 I study and develop personal web and desktop projects with Python and Django, with the intention of changing my professional career and improving myself more and more so that I can work as a programmer, be part of a development team, contribute to more advanced projects and have the possibility of increasing responsibilities and participation to generate value for an employer or a customer.
            </p>
            <p>
                Since 2004 to the end of 2018, I worked as a Freelancer, creating management systems in Excel and performing IT services.
            </p>
            <p>
                Since 2019 I study and develop personal web and desktop projects with Python and Django, with the intention of changing my professional career and improving myself more and more so that I can work as a programmer, be part of a development team, contribute to more advanced projects and have the possibility of increasing responsibilities and participation to generate value for an employer or a customer.
            </p>
            <p>
                Since 2004 to the end of 2018, I worked as a Freelancer, creating management systems in Excel and performing IT services.
            </p>
        </div>
    </div>
</section>

{% endblock %}
