{% extends 'base/_base_index.html' %}

{% block title %}Change password{% endblock %}

{% block body_title %}Change password{% endblock %}

{% block body_content %}

    <div class="container back01">

        <form method="post" class="form" autocomplete="off">
        {% csrf_token %}

            <div class="row">
                <div class="col col-5">
                    <div class="form-group">
                        <label for="old_password">Old password<span style="color: red;">*</span></label>
                        <input type="password" class="form-control" id="old_password" name="old_password" required autofocus>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="new_password1">New Password<span style="color: red;">*</span></label>
                        <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                    <small id="password-help" class="form-text text-muted">
                        Your password can’t be too similar to your other personal information, must contain at least 8 characters,
                        can’t be a commonly used password and can’t be entirely numeric.
                    </small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="new_password2">New password confirmation<span style="color: red;">*</span></label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn mr-2 btn-primary shadow-lg" name="btn_cadastro_canal">Change</button>
                <a class="btn btn-primary btncustom shadow-lg mr-2" role="button" href="{% url 'index' %}">Cancel</a>
            </div>

        </form>

    </div>

{% endblock %}