{% extends 'base/_base_index.html' %}
{% load static %}
{% block title %}Antonio Neves - Article{% endblock %}
<!-- Body -->
{% block body_content %}
    <!-- Nav -->
    {% include 'base/_base_nav_blog.html' %}
    <div class="image-article-div">
        <img class="image-article" src="{{ object.article_image.url }}" alt="{{ object.article_name }} image">
    </div>
    <!-- Main Content -->
    <section id="article" class="container-section-big">
        <div class="container-flex-w80 article-content wordwrap">
            <h1>{{ object.article_name }}</h1>
            {{ object.article_content | safe }}
        </div>
    </section>
{% endblock %}
