{% extends 'base/_base_index.html' %}
{% load static %}
{% block title %}António Calheiros Neves - Blog{% endblock %}
{% block body_content %}
<header>
    <!-- Nav -->
    <div class="navbar-principal-blog">
        {% include 'base/_base_nav_blog.html' %}
    </div>
    <!-- Intro -->
    <div class="intro-home intro-image-blog">
        <div class="container-intro-home">
            <h1 class="h1-intro-home">António Calheiros Neves</h1>
            <p class="intro-blog-text">Blog</p>
        </div>
    </div>
</header>
<section id="s-blog-list" class="container-section-big">
    <div class="container-flex-w80">
    {% for post in object_list %}
        <div class="container-article-card">
            <a href="{% url 'article-detail' post.article_slug %}">
            <div class="image-article-card">
                <img src="{{ post.article_image.url }}" alt="{{ post.article_name }} image">
            </div>
            <div class="title-article-card">
                <h3>{{ post.article_name }}</h3>
            </div>
            <div class="title-article-card">
                <p>{{ post.article_resume }}</p>
            </div>
            <div class="title-article-card">
                <p class="article-modified-card">Modified at: {{ post.modified_at | date:'M d Y' }}</p>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}
