{% extends 'base/_base_index.html' %}

{% block title %}New Password{% endblock %}

{% block body_title %}New Password{% endblock %}

{% block body_content %}

    <div class="container back01">
    <form method="post" class="form" autocomplete="off">
    {% csrf_token %}

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="new_password1">New Password<span style="color: red;">*</span></label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1" required autofocus>
                <small id="password-help" class="form-text text-muted">
                        Your password can’t be too similar to your other personal information, must contain at least 8 characters,
                        can’t be a commonly used password and can’t be entirely numeric.
                </small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="new_password2">New password confirmation<span style="color: red;">*</span></label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary shadow-lg" name="next" value="{{ next }}">Change</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
        </div>

    </form>
    </div>

{% endblock %}