:root {
    --navbar-height: 75px;
    --navbar-bg-color: transparent;
    --navbar-text-color: rgb(235,240,255);
    --navbar-text-color-focus: rgb(10,210,250);
    --navbar-bg-contrast: transparent;
    --withe-blue-color: rgb(235,240,255);
    --bright-blue-color: rgb(10,210,250);
    --bright-green-color: rgb(10,250,210);
    --yellow-color: #FBBA00;
    --line-height: 40px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/*****************************/
/* Home                      */
/*****************************/

/* --- Intro --- */

.intro-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(https://res.cloudinary.com/myportfolioan/image/upload/v1628517540/media/home_foto_principal_1920x1080.jpg?auto=format&fit=crop&w=1491&q=80) #102D69 no-repeat center center fixed;
    background-size:cover;
}

.container-intro-home {
    padding-left: 2%;
    padding-right: 2%;
}

.h1-intro-home {
    font-size: 6rem;
    color: var(--withe-blue-color);
    line-height: 1;
    margin: 0;
}

/*.container-intro-home p {*/
/*    color: #81d4fa;*/
/*    !*background-color: rgba(16,45,105, 0.4);*!*/
/*    !*padding-bottom: 1rem;*!*/
/*}*/

/*****************************/
/* Principal Containers      */
/*****************************/

/*.col-principal {*/
/*    margin: 0 1.5rem 1.5rem 1.5rem;*/
/*}*/



/*.col-principal a {*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    background-color: rgba(16,45,105, 0.5);*/
/*    padding: 1rem;*/
/*    text-align: center;*/
/*    text-shadow: 1px 1px 2px black;*/
/*    font-size: 1.5rem;*/
/*    border-radius: 5px;*/
/*    font-family: Quicksand, sans-serif;*/
/*    color: rgba(255, 255, 200, 1);*/
/*    box-shadow: 2px 2px 5px black;*/
/*}*/

/*.col-principal a:hover {*/
/*    background-color: rgba(16,45,105, 0.1);*/
/*    !*color: rgba(220, 0, 0, 1);*!*/
/*    !*color: var(--navbar-text-color-focus);*!*/
/*    text-decoration: none;*/
/*    box-shadow: 0 0 10px black;*/
/*}*/

/*!*****************************!*/
/*!* Secondary Containers      *!*/
/*!*****************************!*/

/*.col-secondary {*/
/*    margin: 0 .5rem 1.5rem .5rem;*/
/*}*/

/*.col-secondary a {*/
/*    display: inline-block;*/
/*    width: 90%;*/
/*    background-color: #ECFFCC;*/
/*    padding: .8rem;*/
/*    text-align: center;*/
/*    !*text-shadow: 1px 1px 2px black;*!*/
/*    font-size: 1.5rem;*/
/*    border-radius: 5px;*/
/*    font-family: Quicksand, sans-serif;*/
/*    color: #303030;*/
/*    box-shadow: 2px 2px 5px black;*/
/*}*/

/*.col-secondary a:hover {*/
/*    background-color: #003A00;*/
/*    color: rgba(0, 255, 0, 1);*/
/*    !*color: var(--navbar-text-color-focus);*!*/
/*    text-decoration: none;*/
/*    box-shadow: 0 0 10px black;*/
/*}*/

/*.btn-info:hover {*/
/*    color: #9fff00;*/
/*    box-shadow: 1px 1px 4px darkslategrey;*/
/*}*/

/*!* Home button *!*/
/*.a-inicio {*/
/*    !*background-color: #ECFFCC;*!*/
/*    background: linear-gradient(141deg, rgba(0,52,0,1) 0%, rgba(0,94,0,1) 100%);*/
/*    padding: .2rem 1.5rem;*/
/*    text-align: center;*/
/*    !*text-shadow: 1px 1px 2px black;*!*/
/*    font-size: 1.5rem;*/
/*    border-radius: 5px;*/
/*    font-family: Quicksand, sans-serif;*/
/*    color: #FFFFFF;*/
/*}*/

/*.a-inicio:hover {*/
/*    color: #9fff00;*/
/*    box-shadow: 1px 1px 4px darkslategrey;*/
/*}*/


/*!*****************************!*/
/*!* Summernote Content        *!*/
/*!*****************************!*/

/*.article-content h2 a {*/
/*    text-shadow: none;*/
/*    color: green;*/
/*    font-weight: 500;*/
/*}*/

/*.article-content h2 a:hover {*/
/*    text-shadow: none;*/
/*    color: darkgreen;*/
/*    font-weight: 500;*/
/*}*/

/*.article-content p a {*/
/*    text-shadow: none;*/
/*    color: green;*/
/*    font-weight: 500;*/
/*}*/

/*.article-content p a:hover {*/
/*    text-shadow: none;*/
/*    color: darkgreen;*/
/*    font-weight: 500;*/
/*}*/

/*.article-content img:hover {*/
/*    box-shadow: 1px 1px 3px darkgreen;*/
/*}*/

/*****************************/
/* @Media                    */
/*****************************/

@media screen and (max-width: 1000px) {

    .container-intro-home {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media (max-width: 500px) {

    .h1-intro-home {
        padding-left: 1%;
        padding-right: 1%;
        font-size: 4rem;
    }
}
/*@media screen and (max-width: 800px) {*/

/*    .principal-container {*/
/*        padding: 20% 5% 100px 5%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 700px) {*/

/*    .principal-container {*/
/*        padding: 25% 5% 100px 5%;*/
/*    }*/
/*}*/


/*!*****************************!*/
/*!* Animated Title            *!*/
/*!*****************************!*/

/*.ml12 {*/
/*  !*font-weight: 200;*!*/
/*  !*font-size: 1rem;*!*/
/*  !*text-transform: uppercase;*!*/
/*  !*letter-spacing: 0.1em;*!*/
/*}*/

/*.ml12 .letter {*/
/*  display: inline-block;*/
/*  line-height: 1em;*/
/*}*/

/*!*****************************!*/
/*!* Logo                      *!*/
/*!*****************************!*/

/*.logo {*/
/*    height: 50px;*/
/*}*/

/*!*****************************!*/
/*!* Forms                     *!*/
/*!*****************************!*/

/*.errorlist {*/
/*    color: red;*/
/*}*/

/*.back02 {*/
/*    !* background: rgba(16, 45, 105, .1); *!*/
/*    !* background: rgba(0, 0, 0, .2); *!*/
/*    margin-top: 2%;*/
/*    margin-bottom: 2%;*/
/*    padding: 2%;*/
/*    border-radius: 10px;*/
/*}*/


/*!*****************************!*/
/*!* Copyright                 *!*/
/*!*****************************!*/

#copyright {
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0,.5);
    padding: 5px 0;
}

#copyright .container {
    padding: 2em 0;
    border-top: 1px solid;
    border-color: rgba(255,255,255,.1);
    /*color:  rgba(255,255,255,.8);*/
}

#copyright a {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color:  rgba(0, 0, 0,.8);
}
