{% load static %}
<!-- NavBar Principal -->
<div id="navbar">
    <nav class="navbar-container custom-navbar">
        <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-menu">
            <ul class="navbar-links">
                <li class="navbar-item"><a class="navbar-link" href="/">About</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/">Blog</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/">Careers</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
