<!-- Footer -->
<section id="footer">
    <div class="container-flex-w70">
        <div class="box-flex box-width-100">
            <div class="h2-container">
                <h2 class="h2-content">Get in touch</h2>
            </div>
        </div>
        <div class="box-flex box-width-50 order1">
            <div class="box-width-100">
                <div class="footer-h3-flex h3-container">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <h3 class="h3-content">Address</h3>
                </div>
                <div class="p-container">
                    <p>Oeiras, Lisbon, Portugal</p>
                    <p>Canaã dos Carajás, Pará, Brazil</p>
                </div>
            </div>
            <div class="box-width-100">
                <div class="footer-h3-flex h3-container">
                    <div>
                        <i class="fas fa-envelope-square"></i>
                    </div>
                    <h3 class="h3-content">Email</h3>
                </div>
                <div class="p-container">
                    <p>it-an@hotmail.com</p>
                </div>
            </div>
            <div class="box-width-100">
                <div class="footer-h3-flex h3-container">
                    <div>
                        <i class="fas fa-phone-square-alt"></i>
                    </div>
                    <h3 class="h3-content">Phone</h3>
                </div>
                <div class="p-container">
                    <p>+55 94 99298-0227</p>
                </div>
            </div>
        </div>
        <div class="box-flex box-width-50">
            {% include 'base/_messages.html' %}
            <div class="h3-container">
                <h3 class="h3-content">Contact me</h3>
            </div>
{#            <form id="contact-form" onsubmit="return false">#}
            <form id="contact-form">
                {% csrf_token %}
                <div class="form-box-flex">
                    <input class="footer-input" type="text"
                           name="contact_name" id="contact_name"
                           size="100" required="required" placeholder="Name">
                </div>
                <div class="form-box-flex">
                    <input class="footer-input" type="email"
                           name="contact_email" id="contact_email"
                           required="required"  placeholder="Email">
                </div>
                <div class="form-box-flex">
                    <textarea class="footer-input" name="contact_message" id="contact_message" placeholder="Message" required="required"></textarea>
                </div>
                <div class="form-box-flex">
                    <button class="contact-form-button" type="submit" onclick="hide_contact_form()">Send</button>
                </div>
            </form>
        </div>
    </div>
<!-- Copyright -->
<div id="copyright">
{#    <a href="https://ansistemas.com" target="_blank" rel="noopener noreferrer">#}
    <p>
        <i class="far fa-copyright"></i>
        2021 António Calheiros Neves
    </p>
    <a href="https://github.com/Antonio-Neves" target="_blank" rel="noreferrer noopener">
        <i class="fab fa-github-square"></i>
    </a>
    <a href="https://github.com/Antonio-Neves" target="_blank" rel="noreferrer noopener">
        <i class="fab fa-github-square"></i>
    </a>
    <a href="https://github.com/Antonio-Neves" target="_blank" rel="noreferrer noopener">
        <i class="fab fa-github-square"></i>
    </a>
{#    </a>#}
{#    | Photo by <a href="https://unsplash.com/@bananablackcat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Svetlana Gumerova</a>#}
{#    on <a href="https://unsplash.com/s/photos/portugal?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Unsplash</a>#}
</div>
    </section>
