{% load static %}
<!-- Icons -->
<link rel="icon" href="{% static 'base/images/cropped-Favicon-672-32x32.png' %}" sizes="32x32" />
<link rel="icon" href="{% static 'base/images/cropped-Favicon-672-192x192.png' %}" sizes="192x192" />
<link rel="apple-touch-icon" href="{% static 'base/images/cropped-Favicon-672-180x180.png' %}" />
<!-- Facebook -->
<meta property="og:locale" content="pt_BR">
<meta property="og:url" content="https://antoniocalheirosneves.up.railway.app/">
<meta property="og:title" content="António Calheiros Neves">
<meta property="og:site_name" content="António Calheiros Neves">
<meta property="og:description" content="CV | Portfolio | Blog - Oeiras, Lisbon, Portugal - Pará, Brasil">
<meta property="og:image" content="https://res.cloudinary.com/myportfolioan/image/upload/v1628561602/site_photos/my_portfolio_an_seo_hjkf5o.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:type" content="website">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://res.cloudinary.com/myportfolioan/image/upload/v1628561602/site_photos/my_portfolio_an_seo_hjkf5o.jpg">
<meta name="twitter:title" content="António Calheiros Neves">
<meta name="twitter:description" content="CV | Portfolio | Blog - Oeiras, Lisbon, Portugal - Pará, Brasil">
<!-- General Tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width-device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Google -->
<meta name="author" content="António Calheiros Neves">
<meta name="creator" content="António Calheiros Neves">
<meta name="google-site-verification" content="jZI_N-ALD1PhLKJFG1ZM56FwOKnKlgpW29nDVuTwiwI" />
<meta name="robots" content="index, follow">
<meta name="description" content="CV | Portfolio | Blog - Oeiras, Lisbon, Portugal - Pará, Brasil" />
<meta name="keywords" content="sites, site, django, python, django, web, systems, oeiras, portugal, canaa, carajas, brasil" />
<link rel="canonical" href="https://antoniocalheirosneves.up.railway.app/" />
<!-- Bootstrap -->
{#<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"><!-- Scrollbar Custom CSS -->#}
<!-- Malihu custom scrollbar -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" rel="stylesheet">
<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap" rel="stylesheet">
<!-- Icons Fontawesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<!-- Cookie Consent -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"/>
<!-- My styles CSS -->
<link rel="stylesheet" href="{% static 'base/css/nav_styles.css' %}">
<link rel="stylesheet" href="{% static 'base/css/animated_text.css' %}">
<link rel="stylesheet" href="{% static 'base/css/my_styles.css' %}">
