<!-- Copyright -->
<div class="copyright">
{#    <a href="https://ansistemas.com" target="_blank" rel="noopener noreferrer">#}
    <p>
        <i class="far fa-copyright"></i>
        2021 António Calheiros Neves
    </p>
{#    </a>#}
{#    | Photo by <a href="https://unsplash.com/@bananablackcat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Svetlana Gumerova</a>#}
{#    on <a href="https://unsplash.com/s/photos/portugal?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Unsplash</a>#}
</div>
