{% load static %}
<!-- NavBar Principal -->
<div id="navbar">
    <nav class="navbar-container">
        <a href="https://github.com/Antonio-Neves" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-github-square"></i>
        </a>
        <a href="https://www.linkedin.com/in/ansistemas/" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCrJ78GVGuJnyjDCikZEl1Ng" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-youtube-square"></i>
        </a>
        <a class="icon-last" href="#" target="_blank" rel="noreferrer noopener">
            <i class="fas fa-blog"></i>
        </a>
    </nav>
</div>
