{% load static %}
<!-- NavBar Principal -->
<div id="navbar">
    <nav class="navbar-container">
        <a href="https://github.com/Antonio-Neves" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-github-square"></i>
        </a>
        <a href="https://www.linkedin.com/in/ansistemas/" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCrJ78GVGuJnyjDCikZEl1Ng" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-youtube-square"></i>
        </a>
        <a class="icon-last" href="#" target="_blank" rel="noreferrer noopener">
            <i class="fas fa-blog"></i>
        </a>
        <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-menu">
            <ul class="navbar-links">
                s-portfolio
                <li class="navbar-item"><a class="navbar-link" href="#">Blog</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#s-about-me">About</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#s-skills">Skills</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#s-work-experience">Experience</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#s-portfolio">Portfolio</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#footer">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
